 body {
    background-image: url('photo/4.avif'); /* Mets le bon chemin */
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
     background-attachment: fixed; 
    flex-direction: column;
    color: white;
    }
    table tr td:last-child a {
        margin-right: 15px;
        color: black 
    }
    
.fa-eye{
    color: rgb(78, 78, 242);
    left: 20px;
    
}
table {
    color: #807c7c;
  }
.fa-eye:hover{
    color: rgb(0, 0, 124);
}
.biger{
    font-weight: bolder;
}
.show{
    display: block;
}
.showdown{
    display: none;
}
.mdp{
    display: none;
}
    










